# Python-specific ignores
__pycache__/
venv/
*.pyc

# IDE-specific ignores
.vscode/
.idea/

# Editor-specific ignores
*.sublime-project
*.sublime-workspace

# Miscellaneous ignores
*.log
*.swp
.DS_Store

pytorch_model.bin
/App/custom-model/custom-model.zip
